@*@model BreweryCollaborationWebbApp.Models.Collaboration*@
@model  BreweryCollaborationWebbApp.ViewModels.CollabBeersViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Collaboration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            @Html.HiddenFor(model => model.CollaborationRequest.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CollabBeerName" class="control-label">Collaboration Beer Name</label>
                <input asp-for="CollabBeerName" class="form-control" />
                <label asp-for="BeerStyle" class="control-label"> Beer Style</label>
                <select asp-for="BeerStyle.Id" class="form-control" asp-items="@(new SelectList(ViewBag.listofitems, "Id","Name"))">  </select>
                <label asp-for="BrewSite" class="control-label">Brew Site</label>
                <input asp-for="BrewSite" class="form-control" />
                <span asp-validation-for="CollabBeerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
